<div data-role="footer" data-position="fixed">
		<a class="ui-btn-left ui-btn ui-btn-a ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-bars" href="#popupMenu-{$pagetag}-index" data-rel="popup" data-transition="none">菜单</a>
		<span class="ui-title"></span>
		<a class="ui-btn-right ui-btn ui-btn-a ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-phone" href="tel:0760-88888158">0760-88888158</a>
	</div>
	<!-- /footer --> 
	<!--菜单-->
	<div data-role="popup" data-shadow="false" id="popupMenu-{$pagetag}-index"  style="overflow:hidden;">
		<ul data-role="listview" data-inset="true" style="min-width:100px;">
			<!--<li data-role="list-divider">菜单</li>-->
			<li><a href="http://m.alwooo.com/">网站首页</a></li>
			<li><a href="http://m.alwooo.com/zhaobiao">免费设计</a></li>
			<!--<li><a href="http://m.alwooo.com/baojia">免费报价</a></li>-->
			<li><a href="http://m.alwooo.com/gs">装修公司</a></li>
			<li><a href="http://m.alwooo.com/cases">经典案例</a></li>
			<li><a href="http://m.alwooo.com/zhaobiao/baozhang">装修保障</a></li>
			<li><a href="http://m.alwooo.com/article">装修学堂</a></li>
		</ul>
	</div>